<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="AsideFragment">
    <aside>
        <div class="aside-items-wrapper">
            <div class="aside-profile">
                <div class="profile-img" >
                    <img src="https://avatars.githubusercontent.com/u/88977006?s=400&u=817bed9d0e5fece572b93af3f2fd4f0fc31781c3&v=4" />
                </div>
                <div class="login-by">
                    <span>Login By <span class="color-blue">bobby</span></span>
                </div>
                <div class="label">
                    <span class="color-bg-blue">내가 쓴 글 30건</span>
                </div>
                <div class="label">
                    <span class="color-bg-green">내가 쓴 댓글 10건</span>
                </div>
                <div class="label">
                    <span class="color-bg-gray">내가 좋아요한 글 42건</span>
                </div>
            </div>
        </div>
    </aside>
</html>