<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="AsideFragment">
    <aside>
        <div class="aside-items-wrapper">
            <div class="login-form">
                <div id="kakaoLoginBtn" data-provider="kakao">
                    <img th:src="@{/img/kakao_login.png}" />
                </div>
                <br>
                <div id="naverLoginBtn" data-provider="naver">
                    <img th:src="@{/img/naver_login.png}" />
                </div>
            </div>
            <div class="aside-profile">
                <div class="profile-img" >
                    <img src="https://avatars.githubusercontent.com/u/88977006?s=400&u=817bed9d0e5fece572b93af3f2fd4f0fc31781c3&v=4" />
                </div>
                <div class="login-by">
                    <span>Login By <span class="color-blue">...</span></span>
                </div>
                <div id="logout" class="logout">
                    <span>로그아웃</span>
                </div>
            </div>
            <div class="aside-menu-list">
                <span>실시간 이슈</span>
                <div class="aside-menu-item">
                    <a href="/humor">유머</a>
                </div>
                <div class="aside-menu-item">
                    <a href="/accident">사건/사고</a>
                </div>
            </div>
            <div class="aside-menu-list">
                <span>가이드</span>
                <div class="aside-menu-item">
                    <a>유튜브 숏츠</a>
                </div>
            </div>
            <div class="aside-menu-list">
                <span>게시판</span>
                <div class="aside-menu-item">
                    <a>자유게시판</a>
                </div>
            </div>
            <div class="aside-menu-list">
                <span>Contact Us</span>
                <div class="aside-menu-item">
                    <a>문의/건의</a>
                </div>
            </div>
        </div>
    </aside>
</html>