<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="HeaderFragment">
    <header>
        <div id="menuBtn">
            <span class="material-symbols-outlined">side_navigation</span>
        </div>
        <div id="categoryList">
            <a href="/humors">전체</a>
            <a href="/humors/humoruniv">웃긴대학</a>
            <a href="/humors/etoland">이토랜드</a>
            <a href="/humors/bobaedream">보배드림</a>
            <a href="/humors/ppomppu">뽐뿌</a>
        </div>
    </header>
</html>