<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/DefaultLayout}"
      layout:fragment="Main"
>
<head>
    <style th:inline="css">
    </style>
    <script th:inline="javascript" type="text/javascript">
        let page = 1;
        let pageSize = 20;
        let isLoading = false;
        let isLast = false;

        $(function () {
            init();
            loadAccident();
        });

        const init = () => {
            // url 이동 클릭 이벤트
            $('#accident-list').on('click', '.item', function () {
                const url = $(this).data('url');
                window.open(url);
            });

            // 스크롤 더보기 이벤트
            $('#accidentListMain').scroll(function () {
                const scrollTop = $(this).scrollTop();
                const scrollHeight = $(this).height();
                const contentHeight = $('#accident-list').height();
                if (scrollTop + scrollHeight +1 >= contentHeight) {
                    loadAccident();
                }
            });
        }

        const loadAccident = () => {
            if (isLoading || isLast) {
                return;
            }

            isLoading = true;
            showLoading();
            $.ajax({
                url: `/api/accidents`,
                type: 'get',
                data: {
                    page: page,
                    pageSize: pageSize,
                },
                success: function (res) {
                    if (res.status === 'SUCCESS') {
                        renderAccidentList(res.data.accidents);

                        if (page >= res.data.totalPage) {
                            isLast = true;
                        }
                        page++;
                    }
                },
                complete: function () {
                    isLoading = false;
                    hideLoading();
                }
            });

            const renderAccidentList = (accidents) => {
                const accidentElements = accidents.map(accident => getAccidentElement(accident));
                $('#accident-list').append(accidentElements);
            }

            const getAccidentElement = (accident) => {
                return $(`
                    <div class="item" data-url="${accident.url}">
                        <div class="origin-site">${accident.originSite}</div>
                        <div class="written-at">${accident.writtenAt}</div>
                        <div class="title">${accident.title}</div>
                    </div>`);
            };
        };
    </script>
</head>

<body>
<main id="accidentListMain">
    <div id="accident-list" class="item-list"></div>
</main>
</body>
</html>