<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/DefaultLayout}"
      layout:fragment="Main"
>
<head>
    <style th:inline="css">
    </style>
    <script th:inline="javascript" type="text/javascript">
        let page = 1;
        let pageSize = 20;
        let isLoading = false;
        let isLast = false;

        const initHumor = () => {
            page = 1;

            // 렌더링 목록 초기화
            $('#humor-list').html('');

            // url 이동 클릭 이벤트
            $('#humor-list').on('click', '.item', function () {
                const url = $(this).data('url');
                window.open(url);
            });

            // 스크롤 더보기 이벤트
            $('#humorListMain').scroll(function () {
                const scrollTop = $(this).scrollTop();
                const scrollHeight = $(this).height();
                const contentHeight = $('#humor-list').height();
                if (scrollTop + scrollHeight +1 >= contentHeight) {
                    loadHumor();
                }
            });
        }

        const loadHumor = () => {
            if (isLoading || isLast) {
                return;
            }

            const path = $('div.flicking-panel.selected').data('url');

            isLoading = true;
            showLoading();
            $.ajax({
                url: path,
                type: 'get',
                data: {
                    page: page,
                    pageSize: pageSize,
                },
                success: function (res) {
                    if (res.status === 'SUCCESS') {
                        renderHumorList(res.data.humors);

                        if (page >= res.data.totalPage) {
                            isLast = true;
                        }
                        page++;
                    }
                },
                complete: function () {
                    isLoading = false;
                    hideLoading();
                }
            });

            const renderHumorList = (humors) => {
                const humorElements = humors.map(humor => getHumorElement(humor));
                $('#humor-list').append(humorElements);
            }

            const getHumorElement = (humor) => {
                return $(`
                    <div class="item" data-url="${humor.url}">
                        <div class="origin-site">${humor.originSite}</div>
                        <div class="written-at">${humor.writtenAt}</div>
                        <div class="title">${humor.title}</div>
                        <div class="counts">
                            <span class="icon-view material-symbols-outlined">visibility</span>
                            <span class="view-count">${humor.viewCount.toLocaleString()}</span>
                            <span class="icon-like material-symbols-outlined">favorite</span>
                            <span class="like-count">${humor.likeCount.toLocaleString()}</span>
                        </div>
                    </div>`);
            };
        };
    </script>
</head>

<body>
<main id="humorListMain">
    <div id="humor-list" class="item-list"></div>
</main>
</body>
</html>