<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/DefaultLayout}"
      layout:fragment="Main"
>
<head>
    <style th:inline="css"></style>
    <script th:inline="javascript" type="text/javascript"></script>
</head>

<body>
<main>
    <div class="humor-list">
        <div class="item">
            <div class="origin-site">이토랜드</div>
            <div class="written-at">2023-01-01 00:00</div>
            <div class="title">제목</div>
            <div class="counts">
                <span class="icon-view material-symbols-outlined">visibility</span>
                <span class="view-count">9,999</span>
                <span class="icon-like material-symbols-outlined">favorite</span>
                <span class="like-count">9,999</span>
            </div>
        </div>
        <div class="item">
            <div class="origin-site">이토랜드</div>
            <div class="written-at">2023-01-01 00:00</div>
            <div class="title">제목</div>
            <div class="counts">
                <span class="icon-view material-symbols-outlined">visibility</span>
                <span class="view-count">9,999</span>
                <span class="icon-like material-symbols-outlined">favorite</span>
                <span class="like-count">9,999</span>
            </div>
        </div>
        <div class="item">
            <div class="origin-site">웃긴대학</div>
            <div class="written-at">2023-01-01 00:00</div>
            <div class="title">제목</div>
            <div class="counts">
                <span class="icon-view material-symbols-outlined">visibility</span>
                <span class="view-count">9,999</span>
                <span class="icon-like material-symbols-outlined">favorite</span>
                <span class="like-count">9,999</span>
            </div>
        </div>
        <div class="item">
            <div class="origin-site">웃긴대학</div>
            <div class="written-at">2023-01-01 00:00</div>
            <div class="title">제목</div>
            <div class="counts">
                <span class="icon-view material-symbols-outlined">visibility</span>
                <span class="view-count">9,999</span>
                <span class="icon-like material-symbols-outlined">favorite</span>
                <span class="like-count">9,999</span>
            </div>
        </div>
        <div class="item">
            <div class="origin-site">이토랜드</div>
            <div class="written-at">2023-01-01 00:00</div>
            <div class="title">제목</div>
            <div class="counts">
                <span class="icon-view material-symbols-outlined">visibility</span>
                <span class="view-count">9,999</span>
                <span class="icon-like material-symbols-outlined">favorite</span>
                <span class="like-count">9,999</span>
            </div>
        </div>
    </div>
</main>
</body>
</html>