/* common */
html { font-size: 14px; color: #323232; margin: 0; font-family: 'Noto Sans KR', sans-serif; font-weight: 300; height: 100%; }
body { margin: 0; height: 100%; overflow: hidden; }
ul { padding: 0; margin: 0; }
ul li { list-style: none; }
a { color: #323232; text-decoration: none; }

/* color */
.color-blue { color: #50C2FF; }
.color-green { color: #F49A56; }
.color-gray { color: #787878; }
.color-bg-blue { background-color: #50C2FF; color: #FFF; }
.color-bg-green { background-color: #F49A56; color: #FFF; }
.color-bg-gray { background-color: #787878; color: #FFF; }
.color-bg-light-blue { background-color: #C0FFFF; }
.color-bg-light-green { background-color: #AAFA82; }
.color-bg-light-yellow { background-color: #FFEB46; }
.color-bg-light-red { background-color: #F4B6D9; }
.color-bg-light-gray { background-color: #EFEFEF; }

/* form */
input, textarea { box-sizing: border-box; padding: 12px; font-family: 'Noto Sans KR', sans-serif; font-weight: 300; width: 100%; border: none; outline: none; background-color: #FDF5E6; border-radius: 6px; }
textarea { resize: none; }
input[type=button] { width: initial; cursor: pointer; }


/* top-menu */
header { position: fixed; top: 0; left: 0; width: 100%; padding: 10px 0; border-bottom: 1px solid #46FFFF; background-color: #FFF; z-index: 90; height: 40px; text-align: center; }
header > div#menuBtn { position: fixed; left: 0; top: 6px; padding: 6px; color: #50C2FF; cursor: pointer; }
header > div#menuBtn span.material-symbols-outlined { font-size: 36px; }
header > div#categoryList { padding-top: 10px; }
header > div#categoryList > span { border-radius: 100px; margin-left: 4px; background-color: #EEE; padding: 10px 15px; }
header > div#categoryList > span.selected { background-color: #C0FFFF; }

/* left-menu */
aside { position: fixed; top: 0; left: 0; height: 100%; padding-top: 70px; background-color: #FFF; z-index: 80; text-align: center; overflow-y: auto; }
aside > div.aside-items-wrapper { display: inline-block; width: 260px;  }
aside > div.aside-items-wrapper > div.aside-profile { text-align: center; padding-bottom: 20px; }
aside > div.aside-items-wrapper > div.aside-profile > div.profile-img img { width:40%; border: 1px solid #EEE; border-radius: 50%; margin: 20px 0; }
aside > div.aside-items-wrapper > div.aside-profile > div.login-by { margin: 0 0 20px 0; }
aside > div.aside-items-wrapper > div.aside-profile > div.label { text-align: center; font-size: 12px; }
aside > div.aside-items-wrapper > div.aside-profile > div.label span { display: inline-block; margin: 2px 0; padding: 8px 16px; border-radius: 50px; }

body.menu-show aside { width: 260px; transition: width 0.3s; }
body:not(.menu-show) aside { width: 0; transition: width 0.3s; }

/* main */
main { display: inline-block; box-sizing: border-box; background-color: #EBFBFF; width: 100%; height: 100%; }

body.menu-show main { padding: 70px 0 0 260px; transition: padding 0.3s; }
body:not(.menu-show) main { padding: 60px 0 0 0; transition: padding 0.3s; }

/* 반응형 - 모바일  */
@media (max-width: 767px) {
    body.menu-show aside { width: 100%; }
    aside > div.aside-items-wrapper { display: inline-block; }
    main div.kanban-board > div.board { width: 100%; }
}

/* 반응형 - 태블릿 세로  */
@media (min-width: 768px) and (max-width: 991px) {
    main div.kanban-board > div.board { width: 100%; }
}

/* 반응형 - 태블릿 가로  */
@media (min-width: 992px) and (max-width: 1270px) {
    main div.kanban-board > div.board { width: 100%; }
}