/* common */
html { font-size: 14px; color: #323232; margin: 0; font-family: 'Noto Sans KR', sans-serif; font-weight: 300; height: 100%; }
body { margin: 0; height: 100%; overflow: hidden; }
ul { padding: 0; margin: 0; }
ul li { list-style: none; }
a { color: #323232; text-decoration: none; }

/* color */
.color-blue { color: #50C2FF; }
.color-green { color: #F49A56; }
.color-red { color: #D76464; }
.color-gray { color: #787878; }
.color-bg-blue { background-color: #50C2FF; color: #FFF; }
.color-bg-green { background-color: #F49A56; color: #FFF; }
.color-bg-gray { background-color: #787878; color: #FFF; }
.color-bg-light-blue { background-color: #C0FFFF; }
.color-bg-light-green { background-color: #AAFA82; }
.color-bg-light-yellow { background-color: #FFEB46; }
.color-bg-light-red { background-color: #F4B6D9; }
.color-bg-light-gray { background-color: #EFEFEF; }

/* form */
input, textarea { box-sizing: border-box; padding: 12px; font-family: 'Noto Sans KR', sans-serif; font-weight: 300; width: 100%; border: none; outline: none; background-color: #FDF5E6; border-radius: 6px; }
textarea { resize: none; }
input[type=button] { width: initial; cursor: pointer; }


/* top-menu */
header { position: fixed; top: 0; left: 0; width: 100%; padding: 10px 0; border-bottom: 1px solid #46FFFF; background-color: #FFF; z-index: 90; height: 40px; text-align: center; }
header > div#menuBtn { position: fixed; left: 0; top: 6px; padding: 6px; color: #50C2FF; cursor: pointer; }
header > div#menuBtn span.material-symbols-outlined { font-size: 36px; }
header > div#categoryList { padding-top: 10px; }
header > div#categoryList > a { border-radius: 100px; margin-left: 4px; background-color: #EEE; padding: 10px 15px; cursor: pointer; }
header > div#categoryList > a.selected { background-color: #C0FFFF; }

/* left-menu */
aside { position: fixed; top: 0; left: 0; height: 100%; padding-top: 60px; background-color: #FFF; z-index: 80; text-align: center; overflow-y: auto; }
aside > div.aside-items-wrapper { display: inline-block; width: 260px;  }

aside > div.aside-items-wrapper > div.login-form { text-align: center; padding: 20px 0; }
aside > div.aside-items-wrapper > div.login-form > div { display: inline-block; width: 150px; margin-bottom: 2px; }
aside > div.aside-items-wrapper > div.login-form > div img { width: 100%; cursor: pointer; }

aside > div.aside-items-wrapper > div.aside-profile { text-align: center; border-bottom: 1px solid #EEE; }
aside > div.aside-items-wrapper > div.aside-profile > div.profile-img img { width: 100px; border: 1px solid #EEE; border-radius: 50%; margin: 20px 0; }
aside > div.aside-items-wrapper > div.aside-profile > div.login-by { margin: 0 0 10px 0; }
aside > div.aside-items-wrapper > div.aside-profile > div.logout { margin: 0 0 20px 0; display: inline-block; font-size: 12px; background-color: #EEE; padding: 10px 14px; border-radius: 100px; cursor: pointer; }

aside > div.aside-items-wrapper > div { min-width: 200px; }
aside > div.aside-items-wrapper > div.aside-menu-list {  padding: 0 0 20px 0; text-align: left; }
aside > div.aside-items-wrapper > div.aside-menu-list > span { display: inline-block; font-size: 12px; padding: 10px; color: #888; }
aside > div.aside-items-wrapper > div.aside-menu-list > div.aside-menu-item a { box-sizing: border-box; display: inline-block; font-size: 13px; padding: 10px; cursor: pointer; width: 100%; }
aside > div.aside-items-wrapper > div.aside-menu-list > div.aside-menu-item a:hover { background-color: #EBFBFF; }
aside > div.aside-items-wrapper > div.aside-menu-list > div.aside-menu-item a.on { background-color: #50C2FF; color: #FFF; }

body.menu-show aside { width: 260px; transition: width 0.3s; }
body:not(.menu-show) aside { width: 0; transition: width 0.3s; }

/* main */
main { display: inline-block; box-sizing: border-box; background-color: #EBFBFF; width: 100%; height: 100%; text-align: center; overflow-y: auto; min-width: 350px; }

body.menu-show main { padding: 60px 0 0 260px; transition: padding 0.3s; }
body:not(.menu-show) main { padding: 60px 0 0 0; transition: padding 0.3s; }

/* humor */
main > div.item-list { display: inline-block; width: 1200px; padding: 10px; box-sizing: border-box; }
main > div.item-list > div.item { position: relative; top: 4px; right: 4px; text-align: left; padding: 20px; background-color: #FFF; margin-bottom: 10px; font-size: 12px; border-radius: 10px; min-width: 300px; cursor: pointer; }
main > div.item-list > div.item > div.origin-site { position: absolute; right: 20px; padding: 4px 10px; border-radius: 100px; color: #888; font-size: 12px; }
main > div.item-list > div.item > div.written-at { color: #AAA; }
main > div.item-list > div.item > div.title { padding: 10px 0; font-size: 14px; }
main > div.item-list > div.item > div.counts { text-align: right; }
main > div.item-list > div.item > div.counts .icon-view { font-size: 16px; margin-left: 6px; color: #50C2FF; }
main > div.item-list > div.item > div.counts .view-count { color: #50C2FF; }
main > div.item-list > div.item > div.counts .icon-like { font-size: 16px; margin-left: 6px; color: #D76464; }
main > div.item-list > div.item > div.counts .like-count { color: #D76464; }

/* 반응형 - 모바일  */
@media (max-width: 767px) {
    body.menu-show aside { width: 100%; }
    aside > div.aside-items-wrapper { display: inline-block; width: 100%; }
    main > div.item-list { width: 100%; }
}

/* 반응형 - 태블릿 세로  */
@media (min-width: 768px) and (max-width: 991px) {
    main > div.item-list { width: 100%; }
}

/* 반응형 - 태블릿 가로  */
@media (min-width: 992px) and (max-width: 1270px) {
    main > div.item-list { width: 100%; }
}

/* loading */
#loading { display: none; z-index: 100; }
#dimmed { display: none; z-index: 99; position: fixed; top:0; left: 0; width: 100%; height: 100%; background-color: #FFF; opacity: 0.1; }
@-webkit-keyframes sliding-tile {
    0% {
        -webkit-transform: translate(-50%, -50%) translate(-50%, -50%);
        transform: translate(-50%, -50%) translate(-50%, -50%); }
    25% {
        -webkit-transform: translate(-50%, -50%) translate(50%, -50%);
        transform: translate(-50%, -50%) translate(50%, -50%); }
    50% {
        -webkit-transform: translate(-50%, -50%) translate(50%, 50%);
        transform: translate(-50%, -50%) translate(50%, 50%); }
    75% {
        -webkit-transform: translate(-50%, -50%) translate(-50%, 50%);
        transform: translate(-50%, -50%) translate(-50%, 50%); }
    100% {
        -webkit-transform: translate(-50%, -50%) translate(-50%, -50%);
        transform: translate(-50%, -50%) translate(-50%, -50%);
    }
}
@keyframes sliding-tile {
    0% {
        -webkit-transform: translate(-50%, -50%) translate(-50%, -50%);
        transform: translate(-50%, -50%) translate(-50%, -50%); }
    25% {
        -webkit-transform: translate(-50%, -50%) translate(50%, -50%);
        transform: translate(-50%, -50%) translate(50%, -50%); }
    50% {
        -webkit-transform: translate(-50%, -50%) translate(50%, 50%);
        transform: translate(-50%, -50%) translate(50%, 50%); }
    75% {
        -webkit-transform: translate(-50%, -50%) translate(-50%, 50%);
        transform: translate(-50%, -50%) translate(-50%, 50%); }
    100% {
        -webkit-transform: translate(-50%, -50%) translate(-50%, -50%);
        transform: translate(-50%, -50%) translate(-50%, -50%);
    }
}

.sliding-tiles:after, .sliding-tiles:before {
    -webkit-animation: sliding-tile 1.25s infinite linear;
    animation: sliding-tile 1.25s infinite linear;
    background-color: #D76464;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20px;
    width: 20px; }

.sliding-tiles:after {
    -webkit-animation: sliding-tile 1.25s -0.625s infinite linear;
    animation: sliding-tile 1.25s -0.625s infinite linear;
}