<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/DefaultLayout}"
      layout:fragment="Main"
>
<head>
    <style th:inline="css">
        aside > div.aside-items-wrapper > div.login-form > div { display: inline-block; width: 150px; margin-bottom: 2px; }
        aside > div.aside-items-wrapper > div.login-form > div img { width: 100%; }
    </style>
    <script th:inline="javascript" type="text/javascript"></script>
</head>

<body>
<main>
    dd2dd
</main>
</body>
</html>