<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mallang.squirrel.infrastructure.humor.HumorMapper">

    <select id="findIdByTitle" parameterType="String" resultType="Long">
        SELECT id FROM humor WHERE title = #{title} LIMIT 1
    </select>

    <select id="findAllByOrderByCreatedAtAsc" parameterType="Integer" resultType="Long">
        SELECT id FROM humor ORDER BY created_at LIMIT #{limit}
    </select>

    <select id="countAll" resultType="Integer">
        SELECT COUNT(1) FROM humor
    </select>

    <select id="findAllByPageAndPageSizeOrderByWrittenAtDesc" parameterType="Map"
            resultType="com.mallang.squirrel.domain.humor.Humor">
        SELECT id,
               origin_site,
               thumbnail_url,
               title,
               url,
               like_count,
               view_count,
               written_at
        FROM humor
    <if test="originSite != null">
        WHERE origin_site = #{originSite}
    </if>
        ORDER BY written_at DESC
        LIMIT #{startNum}, #{pageSize}
    </select>
</mapper>
